.search-bar {
  margin-left: 13rem;

  &-input {
    width: 30rem;
    padding: 1rem 1.5rem;
    font-family: inherit;
    color: inherit;
    font-size: 1.4rem;
    border: 0.05rem solid lighten($dark-grey, 30);
    border-radius: 0.5rem 0 0 0.5rem;
  }

  &-btn {
    padding: 1rem 1.5rem;
    font-family: inherit;
    color: inherit;
    font-size: 1.4rem;
    border: 0.05rem solid lighten($dark-grey, 30);
    border-left: 0;
    border-radius: 0 0.5rem 0.5rem 0;
    cursor: pointer;
    transition: all 0.2s;
    font-weight: 300;

    &:hover,
    &:active {
      background-color: lighten($dark-grey, 30);
      color: white;
    }
  }
}
