.navbar {
  height: 8rem;
  width: 100%;
  border-bottom: 1px solid $border-color;
  display: flex;
  justify-content: space-between;

  &-logo {
    height: auto;
    width: 10rem;
    padding: 1.5rem;
  }

  &-menu {
    line-height: 8rem;

    &-items {
      list-style: none;
      display: inline-block;
      margin: 0 2rem;
    }
  }
}
